.container {
    height:100%
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;

    grid-template-areas: 
        
        "1 1 1 1 2 2 2 2 2 2 2 2"
        "1 1 1 1 3 3 3 3 3 3 3 3"
        "1 1 1 1 4 4 4 4 4 4 4 4";
    

 
.1site-header {
    grid-area : 1;
}

.2site-main {
    grid-area : 2;

}

.3widget-area {
    grid-area : 3;

}

.4site-footer {
    grid-area : 4;

}

/*.index.css_testcase {
    color = red;
}*/
